.app {
  width: 100%;
}

.main {
  width: 980px;
  margin: auto;
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
}

.main {
  font-size: 24px;
}

.left {
  width: 490px;
  text-align: center;
}

.left h1, .right h1 {
  margin-bottom: 50px;
}

.left ul {
  margin-left: 145px;
}

.left li {
  color: #ed32b9;
  text-align: left;
  display: block;
  font-size: 36px;
  margin-top: 10px;
  cursor: pointer;
}

.left li:hover {
  color: #21ce99;
}

.right {
  width: 490px;
}

.right h2 {
  color: #21ce99;
  cursor: pointer;
  margin-top: 15px;
}

.right h2:hover {
  color: #ed32b9;
}

.new {
  display: flex;
  font-size: 20px;
  margin-top: 20px;
}

.new p {
  color: #999;
  margin-right: 5px;
}

.new input {
  border-radius: 3px;
  border: solid 1px #ed32b9;
  color: black;
}

.new input:focus {
  box-shadow: 0px 0px 2px 2px #ed32b9;
}